.products {
  width: 100%;
  min-height: 100vh;

  padding: 47.2px 50px;
}

.search-div {
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 30px 0;
}
.search-div input {
  width: 70%;
  border: none;
  border-radius: 6px;
  background-color: #FFF;
  outline: none;

  font-size: 18px;
  font-family: 'Montserrat';
  padding: 14px;
  text-align: center;
  transition: 0.3s;
}
.search-div input:focus {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}

.products-div {
  position: relative;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}
.products-cart {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -49%;

  width: 50%;
  height: 70vh;
  padding: 5px 20px;
  border-radius: 6px;
  background-color: #b68b22;
  transition: ease-out 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 30;
}
.products-cart:hover {
  right: 0;
}
#cart-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;

  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b68b22;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #EEE;
}

.products-cart > p {
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-family: 'Rowdies';
  color: #FFFFFF;
  padding: 20px;
}
.products-cart span {
  color: #454545;
  font-size: 16px;
}

.cart-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  border-radius: 6px;
  width: 100%;
  overflow-y: scroll;
}
.cart-list-container::-webkit-scrollbar {
  width: 3px;
}
.cart-list-container::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #313131;
}
.cart-list-container::-webkit-scrollbar-track {
  width: 3px;
  background-color: #f9f9f9;
}
.cart-list {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
}
.cart-list p:nth-child(1) {
  font-size: 18px;
  font-weight: 700;
}
.cart-list div {
  display: flex;
}
.cart-list div i {
  margin: 4px;
  color: rgb(187, 39, 39);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .search-div input {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .products {
    padding: 47.2px 20px;
  }

  .search-div input {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .products-cart {
    width: 70%;
    right: -69%;
  }
}

@media screen and (max-width: 600px) {
  .products-cart {
    width: 95%;
    right: -94%;
  }
}

@media screen and (max-width: 500px) {
  .products-cart {
    padding: 5px 10px;
  }
  .products-cart > p {
    font-size: 15px;
  }
  .products-cart span {
    font-size: 13px;
  }

  .cart-list p {
    font-size: 15px !important;
  }
}