* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 3px;
}
body::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: #313131;
}
body::-webkit-scrollbar-track {
  width: 3px;
  background-color: #f9f9f9;
}

.container {
  width: 100%;
  max-width: 1950px;
  margin: auto;
  min-height: 100vh;
  background-color: #EEE;
}

.go-top-btn {
  position: fixed;
  z-index: 10;
  left: 10px;
  bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background-color: rgba(150, 150, 150, 0.8);
  color: #313131;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}
.go-top-btn:hover {
  background-color: rgba(200, 200, 200, 0.8);
}